
body
{
    background-image: url(../images/flower.jpeg.jpg);
}

header
{
border: 1px solid black;

}

header div
{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    font-size: 30px;
    font-weight: bolder;
}

#nav
{
    display: flex;
    gap: 20px;
    padding-right: 20px
}

#nav button
{
    background-color: transparent;
    padding: 10px;
    width: 130px;
    border: 1px solid black;
    border-radius: 10px;
}

#nav button:hover
{
    cursor: pointer;
    color: aqua;
    background-color: darkgreen;

}